@using Microsoft.AspNetCore.Identity
@using SanRafael.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
<ul class="navbar-nav mr-auto fuente">
    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Categorias" asp-action="Index">Categor&iacute;as</a></li>
    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="AreaProduccions" asp-action="Index">&Aacute;reas de producci&oacute;n</a></li>
    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Recetas" asp-action="Index">Recetas</a></li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Insumos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-area="" asp-controller="Insumos" asp-action="Index">Administración de insumos</a>
            <a class="dropdown-item" asp-area="" asp-controller="Presentaciones" asp-action="VerInsumos">Presentaciones de insumos</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Inventario
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-area="" asp-controller="Insumos" asp-action="AgregarCompras">Agregar compras</a>
            <a class="dropdown-item" asp-area="" asp-controller="Insumos" asp-action="ConsultarInventario">Consultar inventario</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Costos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-area="" asp-controller="Costo" asp-action="Index">Costos fijos</a>
            <a class="dropdown-item" asp-area="" asp-controller="Recetas" asp-action="IndexVariables">Costos variables</a>
            <a class="dropdown-item" asp-area="" asp-controller="Costo" asp-action="IndexOtro">Otros costos</a>
            <a class="dropdown-item" asp-area="" asp-controller="Costo" asp-action="PuntoEquilibrio">Punto de equilibrio</a>
        </div>
    </li>
</ul>

    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
        <ul class="navbar-nav fuente">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Manage" asp-action="Index">Hola,  @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item">
                <button type="submit" class="btn btn-link nav-link">Salir</button>
            </li>
        </ul>
    </form>

}
else
{
    <ul class="navbar-nav ml-auto fuente">
        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Crear cuenta</a></li>
        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Iniciar Sesi&oacute;n</a></li>
    </ul>
}
