@model SanRafael.Models.InsumoModels.Insumo

@{
    ViewData["Title"] = "Registrar";
}

<section class="container">
    <h2>Registrar nuevo Insumo</h2>
    <hr />
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h4>Insumo</h4>
            <form asp-action="Create" id="form_create_insumo">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tienda" class="control-label"></label>
                    <input asp-for="Tienda" class="form-control" />
                    <span asp-validation-for="Tienda" class="text-danger"></span>
                </div>


                <hr />
                <div class="form-group">
                    <label asp-for="CategoriaId"></label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <select class="custom-select bg-info text-light" id="select_categoria" name="select_categoria" asp-items="@( new SelectList(ViewBag.Categorias, "Id" ,"Nombre"))">
                                <option value="" disabled selected>Selecciona una Categoría</option>
                            </select>
                        </div>
                        <input id="nueva_categoria" name="nueva_categoria" type="text" class="form-control" placeholder="O crea una nueva Categoría" />
                    </div>
                    <small class="form-text text-muted">Si se selecciona una categoría y se ingresa una nueva, tendrá prioridad la nueva.</small>
                    <span id="error_create_insumo_categoria" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UnidadId"></label>
                    <select class="custom-select bg-info text-light" asp-for="UnidadId" asp-items="@( new SelectList(ViewBag.Unidades, "Id","Nombre"))">
                        <option value="" disabled selected>Selecciona una Unidad</option>
                    </select>
                    <span asp-validation-for="UnidadId" class="text-danger"></span>
                </div>
                <hr />


                <div class="form-group">
                    <label asp-for="Precio" class="control-label"></label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input asp-for="Precio" type="number" min="0" data-msg="Ingresa un valor mayor a 0" class="form-control" />
                    </div>
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="StockMinimo" class="control-label"></label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">#</span>
                        </div>
                        <input asp-for="StockMinimo" type="number" min="0" data-msg="Ingresa un valor mayor a 0" class="form-control" />
                    </div>
                    <span asp-validation-for="StockMinimo" class="text-danger"></span>
                </div>

                <input type="submit" id="btn_submit_insumo" value="Registrar Insumo" class="btn btn-block btn-primary" />

            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">Regresar al Listado</a>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
