@model SanRafael.Models.Costo

@{
    ViewData["Title"] = "CreateOtro";
}

<section class="container">
    <h2>Registrar nuevo costo otro</h2>
    <hr />
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h4>Costo</h4>
            <form asp-action="Create" >
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tipo" class="control-label"></label>
                    <input asp-for="Tipo" class="form-control" value="Otro" readonly />
                    <span asp-validation-for="Tipo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Monto" class="control-label"></label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input asp-for="Monto" type="number" min="0" data-msg="Ingresa un valor mayor a 0" class="form-control" />
                    </div>
                    <span asp-validation-for="Monto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaRegistro" class="control-label"></label>
                    <input type="date" asp-for="FechaRegistro" class="form-control" />
                    <span asp-validation-for="FechaRegistro" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <textarea asp-for="Descripcion" class="form-control" style="resize:none"></textarea>
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="Periodicidad" class="control-label"></label>
                    <input asp-for="Periodicidad" value="Ninguna" class="custom-select bg-info text-light" />
                    <span asp-validation-for="Periodicidad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Registrar costo" id="btnRegistrarCosto" class="btn btn-block btn-primary" />
                </div>                
            </form>
        </div>
    </div>

    <div>
        <a asp-action="IndexOtro">Regresar a la lista</a>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
