@model SanRafael.Models.Costo

@{
    ViewData["Title"] = "Edit";
}

<section class="container">
    <h2>Modificar costo fijo</h2>    
    <hr />
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h4>Costo</h4>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tipo" class="control-label"></label>
                    <input asp-for="Tipo" class="form-control" readonly />
                    <span asp-validation-for="Tipo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Monto" class="control-label"></label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input asp-for="Monto" type="number" min="0" data-msg="Ingresa un valor mayor a 0" class="form-control" />
                    </div>
                    <span asp-validation-for="Monto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaRegistro" class="control-label"></label>
                    <input type="date" asp-for="FechaRegistro" class="form-control" />
                    <span asp-validation-for="FechaRegistro" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Periodicidad" class="control-label"></label>
                    <select asp-for="Periodicidad" class="custom-select bg-info text-light">
                        <option value="Semanal">Semanal</option>
                        <option value="Quincenal">Quincenal</option>
                        <option value="Mensual">Mensual</option>
                        <option value="Bimestral">Bimestral</option>
                        <option value="Semestral">Semestral</option>
                        <option value="Anual">Anual</option>
                    </select>
                    <span asp-validation-for="Periodicidad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <textarea asp-for="Descripcion" class="form-control" style="resize:none"></textarea>
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar cambios" id="btnRegistrarCosto" class="btn btn-block btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Regresar al listado</a>
    </div>
</section>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
